.history-section {

    margin: 0 auto;
    max-width: 900px;
    /* padding: 0 10px; */
    text-align: center;
    padding: 20px 30px;
    color: var(--color-main-black);

}

.history-title {
     font-size: 30px;
    font-weight: 600; 
    margin: 20px 0 20px 0;
}
.history-photo {
    width: 100%;
    max-width: 780px;
    height: 500px;
    border-radius: 45px;
    object-fit: cover;
    margin-top: 20px;
}
.history-text {
    margin-top: 30px;
    /* max-width: 900px; */
    /* padding: 0 10px; */
    background-color: var( --bg-main-light); 
      padding: 10px 30px;
    border-radius: 55px;
    
}

.histori-description{
font-size: 15px;
font-weight: 400;
 margin: 0 auto;
 text-align: center;
  padding: 10px 60px;
  text-align: justify;
}

@media (max-width: 400px ) {
   .history-photo {
    height: 400px;
}
.histori-description {
    font-size: 13px;

}

}