.portfolio {
    text-align: center;
    padding: 60px 0  100px;
    color: var(--color-main-black);
}

.portfolio-title {
    font-size: 30px;
    font-weight: 600; 
    margin: 20px 0 20px 0;
}

.portfolio-picture {
    margin: 60px 0 40px;
    /* width: 100%;
    max-width: 780px;
    height: 500px; */
    border-radius: 45px;
    width: min(100%, 780px);
    height: min(100%, 500px);
    object-fit: contain;
}

.portfolio-discription {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;

}

.portfolio-picture2 {
    margin: 60px 0 40px;
    width: min(100%, 780px);
    height: min(100%, 500px);
    object-fit: contain;
    border-radius: 45px;
}

.portfolio-discription2 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.portfolio-picture3 {
    margin: 60px 0 40px;
    /* width: 100%;
    max-width: 500px;
    height: 650px; */
    width: min(100%, 500px);
    height: min(100%, 650px);
    object-fit: contain;
    border-radius: 45px;
   
    
}
.portfolio-discription3 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
      
}


@media (max-width: 400px ) {
   .history-photo {
    height: 400px;
}
.portfolio-discription, .portfolio-discription2, .portfolio-discription3 {
    font-size: 13px;

}


}