.about {
    margin: 0 auto;
    max-width: 900px;
    /* padding: 0 10px; */
    background-color: var( --bg-main-light);
    text-align: center;
    padding: 10px 60px;
    border-radius: 55px;
    color: var(--color-main-black);
}


.about-title {
    font-size: 30px;
    font-weight: 600; 
    margin: 10px 0 20px 0;
}

.about-life {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px 0 ;
    text-align: justify;
}

.about-life2 {
     font-size: 15px;
    font-weight: 400;
    margin: 0 0 15px 0 ;
    text-align: justify;
    
}

.about-life3 {
     font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px 0 ;
    text-align: justify;
}

@media (max-width: 400px ) {
    .about-life,
    .about-life2 ,
    .about-life3 {
        font-size: 13px;
        
    }

}

